{% include 'Navbar.html' %}
{% include 'Css.html' %}
{% block body %}
<style>
 img {
    display: block;
    margin: 0 auto;
    border-style: solid;
}
</style>
<h1>Elefante</h1>
<span style="font-family: Verdana;">

<img src="https://imgs.search.brave.com/smnmAtKOt8E1ndBnK40t0OUzxDDWBRzEzEMO8UP_mHI/rs:fit:1174:1200:1/g:ce/aHR0cDovLzMuYnAu/YmxvZ3Nwb3QuY29t/Ly1IUHdFSlJWV3Z0/US9UX01KM3BlRG5R/SS9BQUFBQUFBQUEz/NC9ZNmx0ZDF4dVFh/cy9zMTYwMC9lbGVm/YW50ZS5qcGc" width="300" height="200" alt="elefante">

<p>O elefante (da familia <i>Elephantidae</i>) é na verdade um nome dado a diversas espécies diferentes de mamíferos. Nomeadamente, existem três espécies, os elefantes da selva africanos, os elefantes de arbustos africanos, e os elefantes asiáticos.<br>
Estes animais são facilmente reconhecidos pelo seu porte de elevada estatura, pelas suas presas de marfim e pela sua tromba, sendo reconhecidos pela elevada destreza que possuem na mesma.<br>
Além disto, os elefantes também são reconhecidos pela sua elevada capacidade mental, sendo comparável à de diversos primates e cetáceos, sendo os elefantes capazes de demonstrar empatia e individualidade, sendo conhecidos até por ter cemitérios, provando assim que têm, pelo menos, um conceito rudimentar da morter.<br>
Conhecidos como os maiores mamiferos existentes no planeta, estes também formam sociedades complexas, geralmente lideradas por uma fêmea e machos em desenvolvimento. Os machos tendem eventualmente a abandonar o grupo e formar grupos apenas entre eles, com exceção da época de acasalamento.</p>

<img src="https://imgs.search.brave.com/BWvQXwZngcMt7AyvXyRHJUviyJeKJ8dr9JxfDJrEOMk/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93d3cu/bmF0dXJhbHdvcmxk/c2FmYXJpcy5jb20v/bWVkaWEvNDY4OC96/aW1iYWJ3ZS1lbGVw/aGFudC1oZXJkLWF0/LWxpdHRsZS1tYWth/bG9sby1kYW5hLWFs/bGVuLmpwZw" width="300" height="200" alt="Grupo de elefantes">

<h3>O uso dos elefantes pela humanidade</h3>
<p>Apesar da comunemente não pensarmos em elefantes como animais domesticados, estes foram utilizados diversas vezes pela humaidade, quer como transporte, para combate ou para entertrenimento.<br>
<img src="https://imgs.search.brave.com/r2S-jkUm4wg768pRbwg8J3HIfNrMSDKh-OEo8wgB5XE/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9kdGNv/bW1lcmNpYWxwaG90/by5jb20vd3AtY29u/dGVudC91cGxvYWQv/RWxlcGhhbnQtQ2ly/Y3VzLmpwZw" width="300" height="200" alt="Elefante no circo">
De facto, a presença de elefantes em circos e zoos surpreende poucos, visto que a sua inteligência e raridade, faz deles favoritos em ambos os casos. No entanto, durante a idade média eram muitas vezes utilizados como armas, não só devido à sua força mas também devido ao dano moral elevado que este tipo de animais era capaz de causar devido não só ao seu porte, mas devido também à elevada quantidade de barulho que este conseguia produzir.<br>
No entanto, um uso pouco conhecido destes animais, acabo por ser para construção cívil. A força e inteligência destes animais permite utilizá-los quase como gruas móveis, ou se necessário, como equipa de demolição. Isto acrescenta-lhes uma grande importância nas zonas que, por um motivo ou por outro, têm dificuldade em obter os equipamentos modernos que permitem a construção. Além disto a capacidade dos mesmos de transportar grandes quantidades de peso, quando adicionada às anteriormente referidas, torna estes animais altamente apelativos para estas situações, sendo os riscos considerados inferiores aos benefícios por pessoas neste tipo de zonas, e, como tal, tentando domesticar ou amestrar elefantes para estas tarefas.</p>
<img src="https://imgs.search.brave.com/KIM-xFSwgHk2x2KBCKgBinqgbDXkJk93xYEwSKtV5io/rs:fit:713:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/bjQ2c0FpTXZhS214/ODE2T25TS3pRSGFF/NyZwaWQ9QXBp" width="300" height="200" alt="Elefante usado na construção">
</span>
{% endblock %}