{% include 'Navbar.html' %}
{% include 'Css.html' %}
{% block body %}
<style>
 img {
    display: block;
    margin: 0 auto;
    border-style: solid;
}
</style>
<span style="font-family: Verdana;">
<h1> Engenharia </h1>

<p>De uma forma geral, engenharia pode ser descrita como o uso de princípios científicos para a criação de objetos ou máquinas.<br>
Na história da humanidade, os primeiros exemplos, ainda que rudimentares, desta área são coisas como a roda e alavancas. Assim sendo, não será uma surpresa que muitos destes objetos possam ter sido usados em combinação com animais nos primórdios da humanidade</p>

<h3> História</h3>

<p>Como referido anteriormente, diversos objetos como a roda ou alavancas são criações da área da engenhara, sendo estes os exemplos mais antigos.</p>
<p>O termo engenheiro nasce por volta do século XIV, vindo da palavra <i>engine'er</i>, querendo isto dizer <i>alguém que constroi ou utiliza armas de cerco.</i><br>
Neste contexto, armas de cerco seriam máquinas como catapultas e arietes, sendo estas os <i>engines</i> referidos na palavra engenharia.
</p>
<img src="https://imgs.search.brave.com/nQMMm-5H5u0AvU3T-ceMbYLsehimNzxCHUdudVFIjLQ/rs:fit:656:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5p/QlhZMFlrYnFBRzVR/bE95RFlCQUZnSGFG/VyZwaWQ9QXBp" width="300" height="250" alt="Arma de cerco"><br>

<p>Numa fase inicial, grande parte das contruções na área da engenharia foram grandes edifícios que ficaram na história, desde as Piramides do Egito, ao Coliseu romano.<br>No entanto, como seria de esperar, todas estas construções ancestrais envolviam o movimento de enormes quantidades de material, estas também envolviam o uso de quantidades elevadas de mão de obra.<br>
Neste momento, começa-se a detetar um problema. A quantidade de mão de obra necessária começa a ser demasiado elevada para o transporte de materiais, e construção de monumentos. Assim sendo, a utilização de animais de carga passou a ter uma elevada importância, começando assim a ser usados para tarefas que necessitassem de elevadas quantidades de força bruta.<br>
<img src="https://imgs.search.brave.com/Tos6VlpFOp1QIqS0CbTpA5OfoT1XrSAGOcMoGYeeOuM/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5I/RVhfTkVkei13aGZX/MVZkbW5McFNRSGFG/aiZwaWQ9QXBp" width="300" height="250" alt="Monumentos da engenharia">
</p>

<h3>Domesticação e uso de animais para engenharia</h3>

<p>O domesticação de diversos animais foi fulcral para a humanidade, tanto como animais de trabalho, como de companhia. No entanto os usos na área de engenharia acabam por incluir na sua maioria animais de trabalho<br>
O uso de cavalos, burros, mulas, bois e outros animais semelhantes para efetuar o transporte de objetos e pessoas ou para mover maquinaria mais pesade foi essencial em tempos ancestrais, tendo auxiliado a utilização destas maquinas para usos variados, sendo um dos mais principais a agricultura<br>
Por outro lado, a utilização de animais mais exóticos, como elefantes, ainda hoje está presente em algumas áreas do globo que estão menos desenvolvidas devido não só à força consideravel, mas também inteligência deste tipo de animais.</p>

<p>Claro está, que no mundo moderno com a existência de motores e maquinaria que é capaz de fazer o que estes animais fazem e de forma mais eficaz e humana, a utilização destes para estas tarefas é praticamente inexistente.</p>
</span>
{% endblock %}