{% include 'Navbar.html' %}
{% include 'Css.html' %}
{% block body %}
<span style="font-family: Verdana;">
<h1> {{title}} </h1>

<p> De uma forma geral, diversas ferramentas e máquinas que utilizamos no nosso dia a dia tiveram princípios diferentes do que seria de esperar. Como é sabido, grande parte das ferramentas pesadas que usamos hoje em dia tiveram um princípio consideravelmente diferente devido ao seu peso e dificuldade de manuseamento<br>
Para esse efeito, foram muitas vezes utilizados animais de carga com uma capacidada para trabalho muito superior à de um humano. <br>
Do ponto de vista da engenharia, apesar de estas opções serem consideradas arcaícas e ultrapassadas desde a descoberta de motores no mundo desenvolvido, em áreas menos desenvolvidas, estes métodos ainda têm os seus usos.</p>
</span>
{% include 'slideshow.html' %}
{% endblock %}
