<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #0e99ea9e;
}
</style>
</head>
<body>

<h1>Welcome to the HomePage!</h1>

<ul>
  <li><a href="http://localhost:4002/HomePage"> Homepage</a><br></li>
  <li><a href="http://localhost:4002/ProcuradeTermos"> Procura de Termos</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a class="active" href="about.asp">About</a></li>
</ul>

</body>