{% include 'Navbar.html' %}
{% include 'Css.html' %}
{% block body %}
<style>
 img {
    display: block;
    margin: 0 auto;
    border-style: solid;
}
</style>
<span style="font-family: Verdana;">
<h1>Cavalo</h1>

<p>O cavalo (<i>Equus ferus caballus</i>), é um animal utilizado para diversas tarefas nomeadamente para transporte ou, em casos mais raros, como animal de trabalho.<br>
Esta espécie, domesticada desde a antiguidade, é extremamente usada pela sua resistência física, velocidade e também a sua força. Devido a isto, será fácil de entender porque se escolheram estes animais para auxiliar no trabalho quando necessário.</p>

<h3>Égua</h3>

<img src="https://imgs.search.brave.com/6HDgLLPdt6f7ybWC8o_S6H5QHLosd0CmmuK2gF_C-XY/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5s/WDIxRVp2NlM3b256/ZENGY3ZzVG5BSGFF/SyZwaWQ9QXBp" width="300" height="250" alt="Égua">

<p>A égua era por vezes preferida em vez de um cavalo principalmente devido a um temperamento mais facilmente controlável. Apesar do macho da espécie tender a ter um porte mais imponente e uma maior capacidade física, a agressividade que algum destes animais possuem pode torná-los pouco úteis para trabalho<br>
Assim sendo, esta era utilizada diversas vezes em vez de machos quando fosse preferencial um temperamento mais contido. Por isto mesmo, grande parte dos machos eram utilizados em combate, sendo que em alguns períodos do ano os machos podiam não ser utilizados uma vez que o seu temperamento piorava.
Será no entanto de referir, que um dos mais importantes fatores que levava à preferência de machos em vários cenários, era o facto de a rentabilidade das fêmeas aumentar quando utilizadas para procriação, e tendo em conta os períodos de gestação que impediam trabalhos árduos, os machos podiam ser preferidos.</p>

<h3>O uso deste animal no trabalho</h3>

<p>Como referido, uma quantidade consideravel destes animais eram utilizados para ajudar a servir necessidades humanas, até nomeadamente na área da engenharia. Isto poderia ser feito de diversas maneiras, mas as mais importantes, tendiam a ser o transporte de materiais sendo estes animais utilizados para puxar as mercadorias, ou em outros casos, puxando o próprio engenho.<br>
No que toca a transportes, este acaba por ser um caso fácil de imaginar. Estes animais eram muitas vezes usados para puxar carroças ou carruagens, tendo mantido esta posição até aos dias de hoje, ainda que mais como atração turística do que como uso prático.<br>

<img src="https://imgs.search.brave.com/5r1qC0ABcekEqoDM7_Uv3Jl3QmaDfbwekACGoQwhuj4/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9oZXJv/LWFuZC1sZWFuZGVy/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxNi8wOC9DUjUu/anBn" width="300" height="250" alt="Cavalos a puxar uma carruagem"><br>
No entanto, estes também eram muitas vezes usados para puxar ferramentas como arados, sendo isto ferramentas criadas no ámbito da engenharia, e revolucionárias nos momentos da sua criação. Sem estes animais (ou outros semelhantes), seria inviável a utilização deste tipo de engenhos, e como tal, a produção da humanidade seria grandemente reduzida.<br>

<img src="https://imgs.search.brave.com/VnyCN9bKDhaYcM5d1rF59a43cwNejox71KWkNA1lY80/rs:fit:800:572:1/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hcmFk/by1wdXhhZG8tY2F2/YWxvLWUtZmF6ZW5k/ZWlyby00MTE4OTYx/Mi5qcGc" width="300" height="250" alt="Cavalos a puxar arado"><br>
Apesar do seu uso ter caido imenso nos dias de hoje devido ao progresso efetuado em diversas áreas, é inegável que sem a ajuda destes animais, a história da humanidade poderia ter sido radicalmente diferente.
</p>
</span>
{% endblock %}